.product-card {
  &-image {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 100%; //종횡비 유지
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: 8px;

    img {
      @include position-center;
      display: block;
      width: 100%;
      height: 100%; //여기서 height는 부모인 0이 아니라 그냥 크기 자체인 100%를 따른다
      object-fit: cover;
    }
  }

  &-brand {
    @include text-style(12, $secondary);
  }

  &-title {
    @include line-clamp(2);
    font-size: 13px;
    line-height: 16px;
    font-weight: 400;
  }

  &-price {
    margin-bottom: 4px;
    span {
      @include text-style(18, $blue);
      font-weight: 700;
    }

    strong {
      @include text-style(18, $dark);
      font-weight: 700;
    }
  }

  &-detail {
    @include flexbox(start);

    margin-bottom: 8px;
    .rating {
      @include text-style(12);
      @include flexbox(start);
      margin-right: 8px;

      dd {
        color: $primary;
        font-weight: 700;
      }
    }
    .ic-star {
      color: $blue;
      margin-right: 2px;
    }

    .review {
      @include text-style(12, $secondary);
      @include flexbox(start);
      font-weight: 700;
    }
  }
}

@include responsive(T) {
  .product-card {
    &-brand {
      margin-bottom: 4px;
    }
  }
}
