.product-inquiry {
    .inquiry-empty {
        padding: 48px 0;
        @include text-style(16,$secondary);
        text-align: center;

        @include responsive(T) {
            padding: 20px;
        }
    }

    @include mobile-only {
        padding-bottom: 0;

        &.is-open {
            padding-bottom: 20px;

            .text-button {
                display: block;
            }
            .product-section-content {
                display: block;
            }
            .icon-button {
                display: none;
            }
        }

        .text-button {
            display: none;
        }
        .product-section-content {
            display: none;
        }
    }
}