.bookmark-toast {
  @include flexbox(between);
  $close-button-size: 36px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 56px;
  padding-left: $close-button-size;
  padding-right: $grid-margin;
  z-index: $bookmark-toast-level;
  background-color: $white;
  box-shadow: $popup-reverserd;

  .bookmark-title {
    @include text-style(13, $primary);
    font-weight: 400;
  }

  .close-button {
    @include position-center-y;
    @include inline-flexbox;
    left: 0;
    width: $close-button-size;
    height: $close-button-size;
    font-size: 20px;
    color: $tertiary;
  }

  .button-group {
    @include flexbox(end);

    a {
      margin-right: 4px;
    }
  }
}
