.order-form-modal {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  max-height: 75vh;
  background-color: $white;
  z-index: $order-form-modal;
  padding-top: 16px;
  overflow-y: auto;
  border-radius: 12px 12px 0 0;
  box-shadow: 0px -4px 20px 0px #00000026;
  overscroll-behavior: contain;

  .order-checkout,
  .order-summary {
    margin-bottom: 16px;
  }

  .order-summary {
    margin-bottom: calc(48px + 4px * 2 + 16px);
  }

  .order-inputs {
    margin-bottom: 8px;
  }

  .button-group {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: $white;
    padding: 4px;
  }

  @include responsive(T) {
    padding-top: 32px;
  }

  &.is-open {
    display: block;
    animation-name: modal-fade-in;
    animation-duration: 300ms;
  }
}

@keyframes modal-fade-in {
  0% {
    transform: translate3d(0, 100%, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}
